{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MEMOMIND Blog{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        'darkgreen': '#2d2a1b',
                        'darkred': '#963e3e',
                        'softgreen': '#a5a54f',
                        'background': '#fdf6f0',
                        'comment-bg': '#c3b29f',
                    }
                }
            }
        }
    </script>
</head>
<body class="bg-background text-gray-800 font-sans">
    <header class="bg-darkgreen text-white py-4">
        {% include "nav.html" %}
    </header>

    <main class="container mx-auto px-4 py-8">
        {% block content %}{% endblock %}
    </main>
    {% block script %}
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="{% static 'js/likepost.js' %}"></script>
    {% endblock %}
</body>
</html>
